.bgimg{
    background-image: url("treebg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
}

.headerset{
    padding-top: 200px;
    box-sizing: border-box;
    color:aquamarine;
}

/*
Qualification
*/
.qualification{
    padding: 100px 0px 60px;
    height: 600px;
}
.qualification h1{
    font-size: 50px;
    font-weight: bold;
}

.rowsetting{
    margin: 80px;
}
.rowsetting p{
    padding-top: 20px;
}
.rowsetting h2{
    margin-top: 15px;
}

/* ===============*/


.imgsetting{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: darksalmon;
    color: rgb(255, 18, 10);
    padding-top: 25px;
}

/* ----- portfolio -----  */

.card img{
    height: 240px;
    width: 290px;
}

.portfolio{
    padding: 50px 0px 60px;
    height: 1100px;
    background-color: bisque;
}

.portfolio h1{
    font-size: 50px;
    font-weight: bold;
}

/* ===============*/

/* ----- contact me -----  */
.contactme{
    padding: 50px 0px 60px;
    height: 700px;
    background-color: gainsboro;
}
.contactme h1{
    font-size: 40px;
    font-weight: bold;
}

.contactme img{
    margin-top: 30px;
    height: 350px;
    width: 350px;
    background-color: bisque;
}

.inputsetting{
    margin-top: 30px;
}
/* ===============*/

/* about me*/
.aboutme{
    padding: 50px 0px 60px;
    height: 500px;
    background-color: rgb(60, 148, 87);
}
.aboutme h1{
    font-size: 40px;
    font-weight: bold;
    color: azure;
}
/* ============== */
